ul.menu
    li: b Getting started
      ul
        li: a(href="./getting-started.html") Quick start
        li: a(href="./getting-started.html#mainfunctionalities") Main functionalities
        li: a(href="./getting-started.html#structure") Structure
    li: b Commands
      ul
        li: a(href="./commands.html") setup
        li: a(href="./commands.html#new") new
        li: a(href="./commands.html#build") build
        li: a(href="./commands.html#watch") watch
        li: a(href="./commands.html#upgrade") upgrade
        li: a(href="./commands.html#publish") publish
        li: a(href="./commands.html#install") install
        li: a(href="./commands.html#get") get
        li: a(href="./commands.html#config") config
    li: b Internationalization
      ul
        li: a(href="./internationalization.html") Basic usage
    li: b Miscellaneous
      ul
        li: a(href="./miscellaneous.html") Dummy text
        li: a(href="./miscellaneous.html#dummyimage") Dummy image
        li: a(href="./miscellaneous.html#fileglobbing") File globbing
        li: a(href="./miscellaneous.html#cdnusage") CDN Usage
        li: a(href="./miscellaneous.html#devmode") Dev mode
    li: b Configurations
      ul
        li: a(href="./configuration.html") Files
        li: a(href="./configuration.html#hooks") Hooks
