header: .container
  a(href="/"): img.logo(src='img/leaves_logo.png')
  ul.navigation
    li: a(href="./index.html") Home
    li: a(href="./getting-started.html") Documentation
    li: a(href="https://github.com/claudetech/leaves") Contribute
    li: a(href="https://github.com/claudetech/leaves/issues") Issues
