extends ./layout.jade

block content
  block navigation
    include _navigation

  ul.language-selector
    li.item: a(href="http://oss.claudetech.com/leaves") English
    li.item: a(href="http://oss.claudetech.com/leaves/fr") Français
    li.item: a(href="http://oss.claudetech.com/leaves/ja") 日本語

  .document
    a(id="home")
    .hero
      img.logo(src="img/logo.png" height="240px")
      p.sub
        block catch_phrase
          | Productivity tool for frontend engineers
      .code: pre $ npm install -g leaves
      a.button(href="https://github.com/claudetech/leaves")
        block view_github
          | View on Github

      include _social_buttons

    #doc
      block doc

  include _footer
