nav
  p.title: a(href="#home") Leaves
  ul
    li: a(href="#home") Accueil
    li: a(href="#installation") Installation
    li: a(href="#gettingstarted") Pour commencer
    li
      a(href="#usage") Commandes
      ul
        li: a(href="#setup") Préparer
        li: a(href="#new") Créer
        li: a(href="#build") Compiler
        li: a(href="#watch") Surveiller
        li: a(href="#upgrade") Mettre à jour
        li: a(href="#publish") Publier
        li: a(href="#install") Installer
        li: a(href="#get") Récupérer
        li: a(href="#config") Configurer
    li
      a(href="#functionalities") Fonctionnalités
      ul
        li: a(href="#lorem-ipsum") Lorem Ipsum
        li: a(href="#dummy-image") Images fictives
        li: a(href="#globbing") Inclusion de fichiers
        li: a(href="#cdn") Utilisation CDN
        li: a(href="#dev-mode") Mode dév
        li: a(href="#i18n") I18n
