nav
  p.title: a(href="#home") Leaves
  ul
    li: a(href="#home") Home
    li: a(href="#installation") Installation
    li: a(href="#gettingstarted") Getting started
    li
      a(href="#usage") Commands
      ul
        li: a(href="#setup") Setup
        li: a(href="#newproject") New
        li: a(href="#build") Build
        li: a(href="#watch") Watch
        li: a(href="#upgrade") Upgrade
        li: a(href="#publish") Publish
        li: a(href="#install") Install
        li: a(href="#get") Get

    li
      a(href="#functionalities") Functionalities
      ul
        li: a(href="#lorem-ipsum") Lorem Ipsum
        li: a(href="#globbing") File globbing
        li: a(href="#cdn") CDN usage
