nav
  p.title: a(href="#home") Leaves
  ul
    li: a(href="#home") ホーム
    li: a(href="#installation") インストール
    li: a(href="#gettingstarted") 始めよう
    li
      a(href="#usage") コマンド
      ul
        li: a(href="#setup") セットアップ
        li: a(href="#new") 新規プロジェクト
        li: a(href="#build") ビルド
        li: a(href="#watch") 監視
        li: a(href="#upgrade") アップグレード
        li: a(href="#publish") 公開
        li: a(href="#install") インストール
        li: a(href="#get") プロジェクト取得
        li: a(href="#config") 設定
    li
      a(href="#functionalities") その他の機能
      ul
        li: a(href="#lorem-ipsum") ダミー文生成
        li: a(href="#globbing") ファイル結合
        li: a(href="#cdn") CDNの使用
        li: a(href="#i18n") 他言語化
