nav
  p.title: a(href="#home") Leaves
  ul
    li: a(href="#home") Home
    li: a(href="#installation") Installation
    li: a(href="#gettingstarted") Getting started
    li
      a(href="#usage") Usage
      ul
        li: a(href="#setup") Setup
        li.active: a(href="#newproject") New project
        li: a(href="#build") Build
        li: a(href="#watch") Watch
        li: a(href="#upgrade") Upgrade
        li: a(href="#publish") Publish
        li: a(href="#install") Install
        li: a(href="#get") Get

    li: a(href="#otherfunctionalities") Other functionalities
