extends ./layout.jade

block content
  include _header

  .hero: .container
    h1.slogan Productivity tool for frontend engineers
    p.
      Automatize all common frontend tasks for easy, rapid and efficient
      design and development.
    a.button(href="./getting-started.html") Quick start
    .social-buttons
      include social/_tweet_button.html
      include social/_star_button.html
      include social/_like_button.html

  .features: .container
    ul
      each tr in t('functionalities')
        li
          i(class=tr.icon)
          span.head= tr.label
          p= tr.value

  .installation: .container
    a(name="installation")
    h1.title Start in 10 seconds
    pre
      code npm install -g leaves
      code leaves new mysite
      code cd mysite
      code leaves
    a.button(href="./getting-started.html")= t('get_started')


  include _footer
