doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title Leaves - Productivity tool for frontend engineers
    meta(name="author" content="Claude Tech")
    meta(name="description" content="Leaves : Productivity tool for frontend engineers")
    link(rel="stylesheet" href="components/normalize-css/normalize.css" cdn="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css")
    link(rel='stylesheet' href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700')
    link(rel="stylesheet" href="css/main.css")
    link(rel="shortcut icon" href="favicon.ico?v=1.1")
    script(src="https://apis.google.com/js/platform.js" async defer)
    script(src="components/jquery/dist/jquery.min.js" cdn="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src="js/app.js")
  body
    block content
