doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title Leaves : Productivity tool for frontend engineers
    meta(name="author" content="Claude Tech")
    meta(name="description" content="Automatize all common frontend tasks for easy, rapid and efficient design and development.")
    meta(property="og:title" content="Leaves : Productivity tool for frontend engineers")
    meta(property="og:type" content="website")
    meta(property="og:description" content="Automatize all common frontend tasks for easy, rapid and efficient design and development.")
    meta(property="og:url" content="http://oss.claudetech.com/leaves/")
    meta(property="og:image" content="http://oss.claudetech.com/leaves/img/ogimage.png")
    meta(property="og:site_name" content="Leaves : Productivity tool for frontend engineers")
    meta(property="og:email" content="info@claudetech.com")
    != '\n<!--[if lt IE 9]>'
      script(src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js")
    != '\n<![endif]-->\n'
    link(rel="shortcut icon" href="favicon.ico")
    link(rel='stylesheet' href='http://fonts.googleapis.com/css?family=Merriweather+Sans:700,300')
    link(rel='stylesheet' href='components/github-markdown-css/github-markdown.css')
    link(rel="stylesheet" href="css/main.css")
    script(src="js/app.js")

  body: .content-wrapper
    include social/_sdk.html
    block content

