extends ./layout.jade

block content
  include _header

  .documentation
    .head: .container
      h1 Documentation

    .content: .container
      include _documentation-menu

      .body
        .markdown-body: include:md markdown/_miscellaneous.md

  include _footer