.documentation
  .head
    background-image url(../img/hero_pattern.png)
    h1
      color white
      font-weight 300

  .menu
    line-height 24px
    margin-top 30px
    padding 0
    > li
      margin-top 16px
      ul
        padding 0 0 0 1em
    a
      text-decoration none
      font-weight 300
      font-size 14px
      &:hover
        text-decoration underline

  .body
    padding 30px
