html
  font-family 'Merriweather Sans', sans-serif
  color #555
  height 100%

body
  position relative
  min-height 100%

a
  color #090

ul
  list-style-type none

*
  box-sizing border-box
  &::-moz-selection
    color black
    background #98d98e   background #0c0
  &::selection
    color black
    background #98d98e