.hero
  background-image url(../img/hero_pattern.png)
  text-align center
  color white
  .slogan
    font-weight 300
    margin 0 auto
    padding-top 80px
    text-transform uppercase
  p
    margin 16px auto 24px
    line-height 1.7em
    width 50%


  .button
    inline-block()
    padding 7px 20px
    background rgba(0,0,0,0.3)
    border 2px solid #fff
    border-radius 3px
    text-decoration none
    transition all 0.3s ease-in-out
    color white
    &:hover
      background rgba(0,0,0,0.1)


  .social-buttons
    padding 40px 0 60px
    .fb-like
      vertical-align top


.features
  padding 40px
  ul
    list-style-type none
    li
      inline-block()
      vertical-align top
      width 47%
      margin 10px 1% 0
      padding 20px
      i[class^=lf-]
        color #0a0
        font-size 28px
        margin-right 14px
        vertical-align middle
      .head
        font-size 17px
        font-weight bold
      p
        line-height 1.7em
        padding-left 42px


.installation
  background #47A743//#3eb370
  padding 70px 0
  text-align center
  .title
    color white
  pre
    margin 0 auto
    background white
    border-radius 3px
    width 600px
    padding 10px 0 10px 190px
    text-align left
    code
      display block
      line-height 32px
      &:before
        content '$'
        margin-right 10px
        color #0a0
  .button
    inline-block()
    padding 7px 20px
    background rgba(0,0,0,0.3)
    border 2px solid #fff
    border-radius 3px
    margin-top 20px
    text-decoration none
    transition all 0.3s ease-in-out
    color white
    &:hover
      background rgba(0,0,0,0.1)
