.content-wrapper
  padding-bottom 212px

.container
  width 980px
  margin 0 auto
  position relative
  clearfix()
  > div
    width 100%

header
  height 80px

.documentation
  margin-bottom 60px
  .menu
    float left
    width 230px
  .body
    margin-left 230px
    width 750px

footer
  absolute bottom 0
  size 100% 212px
  margin-top 212px