html, body
  height 100%
  min-width 980px
  font-family 'Source Sans Pro', sans-serif
  font-weight 300
  a
    color #4183c4

nav
  size 180px 100%
  background #7baa5a
  position fixed
  overflow hidden
  .title
    text-align center
    a
      color white
      font-weight bold
      font-size 24px
      line-height 48px
      text-decoration none
  ul
    padding 0
    li
      a
        color white
        size 100% 100%
        line-height 32px
        text-decoration none
        padding-left 20px
        display block
        &:hover
          background #83B262 + #111
        &.active
          background #83B262 + #222
          font-weight bold
    ul
      text-indent 20px
  &.ja
    font-size 14px

.language-selector
  absolute top 10px right 20px
  list-style-type none
  font-family sans-serif
  font-size 13px
  line-height 1px
  .item
    float left
    margin-left 10px

.document
  margin 0 auto
  padding-left 180px
  width 700px
  .hero
    text-align center
    padding 100px 0 80px 0
    pre
      margin 24px 0
      color #555
      font-size 20px
    .social
      margin 30px 0 0 20px

  ul, ol
    line-height 28px

  pre
    background #FAFAFA
    padding 14px
    color #777
    font-size 14px
    border 1px solid #eee

  code
    background #FAFAFA
    font-size 14px
    color #777

  h2
    color #888
    font-weight 300
    font-size 24px
    margin 64px 0 18px 0

  h3
    font-size 20px
    margin 28px 0 18px 0
    color #555

  p
    font-size 18px
    line-height 24px

  .ja p
    font-size 15px


footer
  background #eee
  color #777
  font-size 14px
  line-height 28px
  padding 10px 64px
  text-align center
  margin-top 60px
  .right
    padding-left 180px


